*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 3rem;
  font: 1rem "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

a {
  color: #00b7ff;
}
