-
  const links = [
    {
      label: 'Home',
      href: '/',
    },
    {
      label: 'Chat',
      href: '/chat',
    },
    {
      label: 'Users',
      href: '/users',
    },
    {
      label: 'Login',
      href: '/login',
    },
  ];

nav.main-nav
  ul.main-nav__list
    each link in links
      li.main-nav__item
        a(href=link.href) #{link.label}
