extends _layout

block title
  = 'Chat | '

block content
  include ./_nav.pug
  main.chat-room
    h1 Чат
    p
      if user
        = 'Пользователь: '
        span.chat-room__username #{user.get('username')}
      else
        | Вы не авторизованы
    div.chat-room__message-area
      p.chat-room__empty Сообщений нет
    form.chat-room__form
      label.chat-room__field(aria-label='Новое сообщение')
        input.chat-room__input(type='text', autofocus placeholder='Сообщение...')
  script(src='/socket.io/socket.io.js')
  script.
    (() => {
      const socket = io.connect();

      const $room = document.querySelector('.chat-room');
      const $messageArea = $room.querySelector('.chat-room__message-area');
      const $form = $room.querySelector('form');
      const $text = $form.querySelector('input');

      const createMessageList = () => {
        const $list = document.createElement('ul');
        $list.classList.add('chat-room__message-list');
        return $list;
      };

      const addMessage = (messageText) => {
        const $message = document.createElement('li');
        $message.textContent = messageText;

        let $list = $messageArea.querySelector('.chat-room__message-list');

        if ($list === null) {
          $list = createMessageList();
          $messageArea.replaceChild($list, $messageArea.firstElementChild);
        }

        $list.appendChild($message);

        $messageArea.scrollTo({
          top: $list.offsetHeight,
          behavior: 'smooth',
        });
      };

      $form.addEventListener('submit', (event) => {
        event.preventDefault();

        $text.disabled = true;

        const messageText = $text.value;

        socket.emit('message', messageText, () => {
          addMessage(messageText);

          $text.disabled = false;
          $text.focus();
        });

        $text.value = '';
      });

      socket.on('message', addMessage);
    })();
