extends _layout

block title
  = 'Login | '

block content
  include ./_nav.pug
  main.main-content
    h1 Регистрация и вход
    p Введите имя пользователя. Если такого пользователя нет, он будет создан.
    form.login-form
      label.login-form__field Введите логин
        input.login-form__input(type='text')
      label.login-form__field Введите пароль
        input.login-form__input(type='password')
      button.login-form__button(type='submit') Войти
      p.login-form__error

  script.
    (() => {
      const $form = document.querySelector('.login-form');

      const $title = $form.querySelector('h1');
      const $login = $form.querySelector('[type="text"]');
      const $password = $form.querySelector('[type="password"]');
      const $submit = $form.querySelector('button');
      const $error = $form.querySelector('.login-form__error');

      const send = () => {
        $error.textContent = '';
        $login.disabled = true;
        $password.disabled = true;
        $submit.disabled = true;
        $submit.textContent = 'Загружаем...';

        window.fetch('/login', {
          method: 'POST',
          body: new FormData($form),
        }).then(({ status }) => {
          if (status === 200) {
            $form.innerHTML = '';
            $title.textContent = 'Вы вошли на сайт';
            $form.append($title);

            window.location.href = '/chat';
          } else {
            throw new Error(`Что-то пошло не так, статус ошибки: ${status}`);
          }
        }).catch(({ message }) => {
          $error.textContent = message;
          $
        });
      };

      $form.addEventListener('submit', (event) => {
        event.preventDefault();

        if ($login.value === '' || $password.value === '') {
          $error.textContent = 'Не все поля заполнены';
        } else {
          send();
        }
      });
    })();
