extends _layout

block title
  = 'Login | '

block content
  include ./_nav.pug
  main.main-content
    h1 Регистрация и вход
    p Введите имя пользователя. Если такого пользователя нет, он будет создан.
    form.login-form
      label.login-form__field Введите логин
        input.login-form__input(type='text', name='username')
      label.login-form__field Введите пароль
        input.login-form__input(type='password', name='password')
      button.login-form__button(type='submit') Войти
      p.login-form__error

  script.
    (() => {
      const $form = document.querySelector('.login-form');

      const $title = document.querySelector('h1');
      const $username = $form.querySelector('[name="username"]');
      const $password = $form.querySelector('[name="password"]');
      const $submit = $form.querySelector('button');
      const $error = $form.querySelector('.login-form__error');

      const send = async () => {
        const body = new FormData($form);

        try {
          const { status } = await window.fetch('/login', {
            method: 'POST',
            body,
          });

          if (status === 200) {
            $form.remove();
            $title.textContent = 'Вы вошли на сайт';

            window.location.href = '/chat';
          } else {
            throw new Error(`Что-то пошло не так, статус ошибки: ${status}`);
          }
        } catch ({ message }) {
          $error.textContent = message;
        }
      };

      $form.addEventListener('submit', (event) => {
        event.preventDefault();

        if ($username.value === '' || $password.value === '') {
          $error.textContent = 'Не все поля заполнены';
        } else {
          send();

          $error.textContent = '';
          $username.disabled = true;
          $password.disabled = true;
          $submit.disabled = true;
          $submit.textContent = 'Загружаем...';
        }
      });
    })();
